

#TO BE CALLED FOR PINS STEPS
#list of pins  to use for each axis

StepPinX = [13,15,16,18]
StepPinY= [40,38,36,32]
StepPinZ = [29,31,33,37]

#sequence to use for 4 pin steppers

Seq = [[1,0,0,1],
       [1,0,0,0],
       [1,1,0,0],
       [0,1,0,0],
       [0,1,1,0],
       [0,0,1,0],
       [0,0,1,1],
       [0,0,0,1]]
